$green: #00b894;
$black: #222;
$white: white;
$gray: #ccc;
$form-bg-color: #dfe6e6;
$btn-color: #dfe6e694;
$gap: 10px;
$radius: 5px;
$padding: 14px 20px;
.todo {
  margin: auto;
  width: 50%;
  &__title {
    text-align: left;
  }
  &__form,
  .form {
    display: grid;
    grid-template-columns: 1fr 100px;
    column-gap: $gap;
    background-color: $form-bg-color;
    border-radius: $radius;
    padding: $gap;
    &__field {
      padding: $padding;
      margin: block;
      border: 1px solid $gray;
      border-radius: $radius;
      &:focus,
      &:hover {
        outline: none;
        border: 1px solid $green;
        border-radius: $radius;
      }
    }
    &__submit {
      width: 100%;
      background-color: $green;
      color: $white;
      padding: $padding;
      border: none;
      border-radius: $radius;
      cursor: pointer;
      &:focus,
      &:hover {
        outline: none;
        background: $black;
      }
    }
  }
  &__list,
  .list {
    display: grid;
    grid-template-columns: 1fr 85px 60px;
    list-style: none;
    padding: 0 $gap;

    &__data {
      margin: 0;
      justify-self: left;
    }
    &__button {
      justify-self: right;
      display: inline-block;
      height: auto;
      width: auto;
      border-radius: $radius;
      border: 1px solid $green;
      background: $btn-color;
      margin: 3px 0;
      &:focus,
      &:hover {
        outline: none;
        border: 1px solid $black;
        border-radius: $radius;
      }
    }
  }
}
